<link rel="stylesheet" href="//$!{ServerPath}/s/beautify/codemirror.css">
<script src="//$!{ServerPath}/s/beautify/beautify.js"></script>
<script src="//$!{ServerPath}/s/beautify/beautify-css.js"></script>
<script src="//$!{ServerPath}/s/beautify/beautify-html.js"></script>
<script src="//$!{ServerPath}/s/beautify/codemirror.js"></script>
<script src="//$!{ServerPath}/s/beautify/javascript.js"></script>
<script src="//$!{ServerPath}/s/codetextarea.js"></script>


<main>

    <div class="section name">
        <div class="container">
            <div class="row name">
                <div id="project-name">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding: 30px;">
        <div class="row">
            <div class="col s12 m10 center-on-small-only">
                <div id="materialdesign" class="section scrollspy">
                    <div id="project-interface-detail"></div>
                </div>
            </div>
        </div>
    </div>

</main>

<div id="modal1" class="modal ">
    <div id="interface"></div>
</div>
<div id="modal2" class="modal ">
    <div class="modal-content">
        <div id="runSelect-result"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="modal-close waves-effect waves-green btn-flat">关闭</a>
    </div>
</div>

<script id="tmpl-project-interface-detail" type="text/html">
    <div class="modal-footer" style="margin-top:-25px;margin-bottom:25px">
        <a href="javascript:;" class="waves-effect waves-green" onclick="Interface.edit()">
            <i class="icon iconfont icon-save"></i>
        </a>
    </div>
    <div class="modal-content">
        <form id="add-interface-form">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <input type="hidden" id="interfacetype" value="http">
                        <div class="input-field col s12">
                            <input type="text" id="interfacename" class="autocomplete" value="{{name}}">
                            <label for="interfacename" class="active">接口名称</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s2">
                            <select id="interfacemethod">
                                <option value="" disabled {{if method==null}} selected {{/if}}>请选择</option>
                                <option value="GET" {{if method=='GET'}} selected {{/if}}>GET</option>
                                <option value="POST" {{if method=='POST'}} selected {{/if}}>POST</option>
                            </select>
                            <label>请求方法</label>
                        </div>
                        <div class="input-field col s10">
                            <input type="text" id="interfaceurl" onblur="Interface.checkURL(this)" class="autocomplete" value="{{url}}">
                            <label for="interfaceurl" class="active">接口地址（HTTP URL）</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="interfaceresponsecharset">
                                <option value="" disabled {{if responseCharset==null}} selected {{/if}}>请选择</option>
                                <option value="UTF8" {{if responseCharset=='UTF8'}} selected {{/if}}>UTF8</option>
                                <option value="GBK" {{if responseCharset=='GBK'}} selected {{/if}}>GBK</option>
                            </select>
                            <label>返回结果字符集</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="col s8" style="padding:0">
                                <textarea id="interfacerequestheader" for="interfacerequestheader_a" class="beautify-textarea" data-length="4096">{{requestHeader}}</textarea>
                                <a id="interfacerequestheader_a" class="beautify-textarea-a">
                                    <strong>Pretty</strong>
                                </a>
                            </div>
                            <div class="col s4" style="padding:0;font-size:12px;padding:25px;transform: scale(0.9);">
                                <div>代码片段 （JSON）</div>
                                <br>
                                <a href='javascript:setBeautyTextareaValue("interfacerequestheader","{\"Cookie\":\"pin=demo;nick=德莫\"}");'>Set header Cookie</a>

                            </div>
                            <label for="interfacerequestheader" class="active">请求头（HTTPHeader JSON）</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<script id="tmpl-project-name" type="text/html">
    <span class="a" onclick="window.location.href='//$!{ServerPath}/project/detail_interface.html?id={{pid}}'">
        < 返回接口
    </span>
    <span class="b">{{name}}</span>
</script>

<script>

    var Interface = {}
    // Project.load = function () {
    //     X.HTTP({
    //         url: CONTEXT + "/data/project/single.json",
    //         data: {
    //             id: parseInt(X.GetUrlParam("projectId"))
    //         },
    //         dataType: 'json',
    //         success: function (result) {
    //             var container = $("#project-name")
    //             container.html(template("tmpl-project-name", result.data));
    //         }
    //     });
    // }

    Interface.load = function () {
        X.HTTP({
            url: CONTEXT + "/data/interface/single.json",
            data: {
                id: parseInt(X.GetUrlParam("id"))
            },
            dataType: 'json',
            success: function (result) {
                result.data.pid = Project.getID()
                var container1 = $("#project-name")
                container1.html(template("tmpl-project-name", result.data));
                var container = $("#project-interface-detail")
                container.html(template("tmpl-project-interface-detail", result.data));
                container.find('select').not('.disabled').formSelect();
                beautytextarea()
            }
        });
    }

    Interface.edit = function () {
        X.HTTP({
            url: CONTEXT + "/data/interface/edit.json",
            data: {
                id: parseInt(X.GetUrlParam("id")),
                name: $('#interfacename').val(),
                type: $('#interfacetype').val(),
                url: $('#interfaceurl').val(),
                method: $('#interfacemethod').val(),
                requestHeader: $('#interfacerequestheader').val(),
                responseCharset: $('#interfaceresponsecharset').val(),
            },
            dataType: 'json',
            success: function (result) {
                if(result.code == 0) {
                    M.toast({html: '保存成功'})
                } else {
                    M.toast({html: '保存失败'})
                }

            }
        });
    }

    Interface.checkURL = function(the) {
        $("#____ok_class").remove()
        the = $(the)
        var url = the.val()
        $.ajax({
            url: CONTEXT + "/data/test/url.json?url="+url,
            type: 'GET',
            complete: function(response) {
                if(response.status == 200) {
                    if(response.responseJSON.data != null) {
                        $("#interfaceurl").after("<i title='链接可用' id='____ok_class' style='float:right;margin-top:-45px;margin-right:10px;color:green' class='icon iconfont icon-success'></i>")
                    } else {
                        $("#interfaceurl").after("<i title='链接不可用！' id='____ok_class' style='float:right;margin-top:-45px;margin-right:10px;color:red' class='icon iconfont icon-wrong'></i>")
                    }
                } else {

                }
            }
        });
    }

    $(function () {
        // Project.load();
        Interface.load();
    })

</script>
